<!DOCTYPE html>
																									<!--| 
Активация приложения с помощью нестандартного атрибута ngApp 											| 2
																										|-->
<html ng-app="comeApp">

<head>
    <meta charset="utf-8" />
    
    <!-- <link rel="stylesheet" type="text/css" href="bower_components/lumx/dist/lumx.css" /> -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- <link rel="stylesheet" type="text/css" href="client/content/styles/font-awesome.min.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="client/content/styles/table.css" /> -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="client/content/styles/mytl.css" /> -->

</head>

<body>
    																								<!--| 
	Инициализация переменной templateUrl значением, содержащим путь к представлению "Питание",			| 4
	с помощью нестандартного атрибута ngInit 															|-->
    
    <div class="card" ng-init="templateUrl='client/app/doxod/doxod.html'">
        <div class="toolbar">
            <span class="toolbar__label fs-title">Lorem Ipsum</span>
            <div class="toolbar__right">
                <ul>
                    <li  class="nav fs-regular"; class="btn btn-info" ><a href="#" ng-class="{active: templateUrl == 'client/app/doxod/doxod.html'}" ng-click="templateUrl = 'client/app/doxod/doxod.html'">Доход</a></li>
                    <li class="nav fs-regular"><a href="#" ng-class="{active: templateUrl == 'client/app/rashodi/rashodi.html'}" ng-click="templateUrl = 'client/app/rashodi/rashodi.html'">Расход</a></li>
                    <li class="nav fs-regular"><a href="#" ng-class="{active: templateUrl == 'client/app/tovar/tovar.html'}" ng-click="templateUrl = 'client/app/tovar/tovar.html'">Приобретаемые товары и услуги</a></li>
                    <li class="nav fs-regular"><a href="#" ng-class="{active: templateUrl == 'client/app/kategor/kategor.html'}" ng-click="templateUrl = 'client/app/kategor/kategor.html'">Отчет доходов и расходов</a></li>
                   
                </ul>
            </div>
        </div>
    </div>

    <div class="content-wrap">
	    																							<!--| 
		Вставка в тэга div с помощью нестандартного атрибута ngInit фрагмента разметки, 				| 5
		вынесенного отдельный HTML-файл, путь к которому хранится в переменной templateUrl 				|-->

        <div class="card" ng-include="templateUrl"></div>
    </div>
    
   

    																								<!--|
	Вставка в тэга div фрагмента разметку, вынесенного в файл client/app/layout/footer.html,			| 3
	с помощью нестандартного атрибута ngInclude 														|-->
																									
    <div class="site-footer" ng-include="'client/app/layout/footer.html'"></div>
    <div class="container" ng-app="comeApp" ng-controller="mainController">

    <div class="page-header text-center">
       <h1>Показать картинку</h1>
    </div>

    <!-- ANIMALS =========================================================== -->
    <div class="row text-center">
      <div class="col-xs-6">
        
        <!-- change goCats to not true or true -->
        <a href ng-click="goCats = !goCats" class="btn btn-primary btn-lg">Показать</a>
      </div>
      
      <div class="col-xs-6">
        <img ng-src="D:\family_budget\client\app\doxod\1.jpg" class="img-responsive img-thumbnail" ng-show="goCats">
      </div>
    </div>
    
</div>

    																								<!--|
    Подключение фреймворка AngularJS. *.js  															| 1
    																									|-->		
    <script src="bower_components/jquery/dist/jquery.min.js"></script>	
    <script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/bootstrap/js/bootstrap.min.js"></script>
	<script src="client/app.js"></script>
	<script src="client/app/doxod/doxod.js"></script>
	<script src="client/app/rashodi/rashodi.js"></script>
	<script src="client/app/tovar/tovar.js"></script>
	<script src="client/app/kategor/kategor.js"></script>
    <script src="family_budget/todo.js"></script>

</body>

</html>
