

	<div>
		<h3>Регистрация доходов семьи</h3>
	</div>

<div ng-controller="doxodCtrl">


	<table class="table table-bordered">
		<thead>
		<tr>
			<th>Категория</th>
			<th>Член семьи</th>
			<th>Дата <input ng-model="isDateSorted" class="check" type="checkbox" ng-change="sortByDate(isDateSorted)"/></th>
			<th>Сумма <input ng-model="isSumSorted" class="check" type="checkbox" ng-change="sortBySum(isSumSorted)"/></th>
			<th class="text-center">Управление доходом</th>

		</tr>
		<!--<tr>
			<th ng-repeat="doxod in dc.doxod"> {{ doxod.date | date : "dd MMM" }}</th>
		</tr>-->
		</thead>
		<tbody>
			<tr ng-repeat="row in doxod">
				<td><span ng-bind="row.state"></span></td>
				<td><span ng-bind="row.family"></span></td>
				<td ng-bind="row.data|date:'MMM dd, yyyy'"></td>
				<td><span ng-bind="row.suma"></span></td>
				<td class="text-center">
					<a href="#" class="btn btn-warning">Редактировать</a>
					<a href="#" class="btn btn-danger">Удалить</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="text-right">
		<a href="#" class="btn btn-success" ng-click="addDoxod($event)">Добавить</a>
	</div>

	<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title">I'm a modal!</h3>
		</div>
	</script>
</div>

<div id="button1"><button><a href="1.html">Добавить</a></button></div>

<div id="button2"><button><a href="2.html">Добавить</a></button></div>
<div id="button3"><button><a href="3.html">Расчет доходов по члену семьи</a></button></div>

