
	
	<div>
		<h3>Регистрация доходов семьи</h3>
	</div>
	
<div ng-controller="doxodCtrl as dc">


	<table class="table table-bordered">
		<thead>
		<tr>
			<th align="center">Категория</th>
			<th align="center">Член семьи</th>
			<th align="center">Дата</th>
			<th align="center">Сумма</th>
			
		</tr>
		<TR>
					<TH ng-repeat="doxod in dc.doxod"> {{ doxod.date | date : "dd MMM" }} </TH>
				</TR> 
		</thead>
		<tbody>
		<tr ng-repeat="row in dc.doxod">
			<td><span ng-bind="row.state"></span></td>
			<td><span ng-bind="row.family"></span></td>
            <td><span ng-bind="row.data"></span></td>
			<td><span ng-bind="row.suma"></span></td>
			

		</tr>
		</tbody>
	</table>
</div>

<div id="button1"><button><a href="1.html">Добавить</a></button></div>

<div id="button2"><button><a href="2.html">Добавить</a></button></div>
<div id="button3"><button><a href="3.html">Расчет доходов по члену семьи</a></button></div>
	
