<form>
    <fieldset>
        <div class="form-group">
            <label for="income-type">Вид дохода</label>
            <input ng-model="doxod.state" id="income-type" class="form-control" type="text" value="" placeholder="Введите вид дохода" />
        </div>
        <div class="form-group">
            <label for="family-member">Член семьи</label>
            <input ng-model="doxod.family" id="family-member" class="form-control" type="text" value="" placeholder="Введите члена семьи" />
        </div>
        <div class="form-group">
            <label for="income-date">Дата</label>
            <input ng-model="doxod.data" id="income-date" class="form-control" type="text" value="" placeholder="Введите дату дохода(MMM dd, yyyy)" />
        </div>
        <div class="form-group">
            <label for="income-sum">Сумма</label>
            <input ng-model="doxod.suma" id="income-sum" class="form-control" type="text" value="" placeholder="Введите сумму" />
        </div>
    </fieldset>
</form>